dconf
glib-2.0
go
goverlay
gtk-3.0
kde.org
menus
procps
pulse
rofi-premade
session
simple-update-notifier
vesktop
vlc
VSCodium
WarThunder
yay
dolphinrc
mimeapps.list
QtProject.conf
trashrc
user-dirs.dirs
user-dirs.locale
.avalonia-build-tasks
Thunar
xfce4
lunarclient
OpenRGB
ow-electron
unity3d
colors.txt
autostart
xournalpp
kwalletrc
qtile
QtProject
nordvpn
kdeconnect
lact
BraveSoftware
YouTube\ Music