* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: none;
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
}

#custom-archlogo {
    background: #1e1e2e;
    color: #1793D1;
    
    margin-left: 20px;
    margin-top: 10px;

    padding-left: 10px;
    padding-right: 13px;
    border-radius: 10px;
}

#workspaces {
    background: #1e1e2e;
    
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

#workspaces button {
    color: #cdd6f4;
    padding: 5px;
}

#workspaces button.active {
    color: #a66dfc;
}

#window {
    background: #1e1e2e;

    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

window#waybar.empty #window {
    background: none;
}

#custom-cpu {
    background: #1e1e2e;

    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    margin-top: 10px;
}

#custom-gpu {
    background: #1e1e2e;

    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    margin-top: 10px;
}

#pulseaudio.microphone {
    background: #1e1e2e;
    color: #87a3ff;

    padding: 10px;
    margin-top: 10px;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
}

#pulseaudio {
    background: #1e1e2e;
    color: #87a3ff;

    padding: 10px;
    padding-right: 15px;
    margin-top: 10px;
    border-radius: 0px 10px 10px 0px;
}

#bluetooth {
    background: #1e1e2e;
    color: #597ffd;

    padding: 10px;
    padding-left: 15px;
    margin-top: 10px;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
}

#network {
    background: #1e1e2e;
    color: #597ffd;

    padding: 10px;
    margin-top: 10px;
    border-radius: 0px 10px 10px 0px;
}

#tray {
    background: #1e1e2e;

    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

#clock {
    background: #1e1e2e;
    color: #a66dfc;

    padding: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
}