window {
    background: transparent;
}

tooltip {
    background: rgb(19, 30, 34);
    padding: 10px;
    border-radius: 10px;
}

.dock-bar {
    background: #1c1c1e99;
    border-radius: 14px;
    padding: 3px 10px;
    border: 1px solid #3a3a3c;
}

.dock-component {
    border-radius: 12px;
    padding: 4px;
    transition: all 180ms ease;
}

.indicator-dot {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 100px;
    min-width: 4px;
    min-height: 4px;
}

.indicator-bar {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    min-width: 12px;
    min-height: 4px;
}
